.content{
    background-color: white;
    width: inherit;
    margin: 1rem;
    max-height: 85vh;
    max-width: 100%;
    overflow: auto;
    
    .extendeds-functions{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 1rem;
        gap: 1rem;
        .time-modifier-wraper{
            display: flex;
            align-items: center;
            gap: 1rem;
            button{
                background: none;
                border: none;
                font-size: 1em;
                cursor: pointer;
            }
        }
    }


    table{
        padding: 1rem;

        tr:not(.table-header):hover {
            background: whitesmoke;
            cursor: pointer;
        }
        tr:not(.table-header):active {
            background: #efefef;
        }

        .function-buttons{
            width: auto;
            display: flex;
            gap: 1rem;

            .function-item{
                color: gray;
                transition: ease-in-out 200ms;
            }
            .function-item:hover{
                color: black;
            }
        }
    }
}