<div class="content" tabindex="0">

    <div class="extendeds-functions">
      
      <div class="all-reservations-wrapper">
        <a>
          <button (click)="openAllMyReservations()"> All my reservations </button>
        </a>
      </div>

      <div class="time-zone-wrapper">
        <mat-form-field>
          <mat-label>Time zone</mat-label>
          <mat-select [(value)]="selectedTimeZone">
            <mat-option [value]="timezone" *ngFor="let timezone of timeZones">{{timezone.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        
      
          
      <div class="time-modifier-wrapper"> 
        <button (click)="removeTime()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="remove"></mat-icon></button>
        <div class="time-modifier">
          <div class="label"> Reserve koje for </div>
          <div class="time"> {{time}} minutes </div>
        </div>
        <button (click)="addTime()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon></button>
      </div>
  
    </div>

    <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8" >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Version Column -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by version"> Version </th>
            <td mat-cell *matCellDef="let element"> {{element.version}} </td>
          </ng-container>
        
          <!-- State Column -->
          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state"> Remark </th>
            <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
          </ng-container>
        
          <!-- Uptime Column -->
          <ng-container matColumnDef="currentlyReservedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by uptime"> Currently Reserved by </th>
            <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
          </ng-container>

           <!-- Owner Column -->
           <ng-container matColumnDef="reservedTill">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by owner"> Reserved till </th>
            <td mat-cell *matCellDef="let element"> {{element.reservedTill | date : 'dd.MM. HH:mm' : selectedTimeZone.difference}} </td>
          </ng-container>

           <!-- Functions Column -->
           <ng-container matColumnDef="functions">
            <th mat-header-cell *matHeaderCellDef> Functions </th>
            <td mat-cell *matCellDef="let element"> 
                <div class="function-buttons">
                    <div class="function-item" matTooltip="Reserve {{element.name}} for {{time}} minutes" (click)="onReservationClick(element)"><mat-icon>access_alarm</mat-icon></div>
                    <div class="function-item" matTooltip="Custom reservation"><mat-icon (click)="openKojeReservation(element)"> calendar_month </mat-icon></div>
                    <div class="function-item" matTooltip="Edit remark"><mat-icon (click)="openKojeRemarks(element)"> edit </mat-icon></div>
                </div> 
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"  class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
</div>

