<h2 mat-dialog-title> <mat-icon class="icon">error_outline</mat-icon> Confirmation <div></div></h2>

<div class="content" *ngIf="action=='powerOff';else unreserveDialog">
    <p> Are you sure you want to force the power off of this VM? </p>
</div>

<ng-template #unreserveDialog> 
    <div class="content">
        <p>Are you sure you want to unreserve this VM? </p> 
    </div>
</ng-template>

<div class="buttons">
    <button class="yes-button" (click)="onYesClick()">Yes</button>  
    <button mat-dialog-close class="no-button">No</button>
</div>
