<div class="content">
    <h1>Remote connection to {{data.name}}</h1>

    <div class="information-item">
        <p>How to connect to remote VM with VNC:</p>
        <ul>
            <li>Start <span class="information-item-bold"> VNC Viewer </span> software.</li>
            <li>Insert 'IP Address' or 'HostName' to search input.</li>
        </ul>
    </div>
    <div class="connection-item">
        <p>Ip Address: </p>
        <p>Hostname: </p>
    </div>
    <div class="buttons">
        <button class="primary-button">Download VNC</button>
    </div>
</div>