<div class="content" tabindex="0">

  <div class="extendeds-functions">
      
    <div class="all-reservations-wrapper">
      <a>
        <button (click)="openAllMyVMReservations()"> All my reservations </button>
      </a>
    </div>

  </div>

    <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8" >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Version Column -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by version"> Version </th>
            <td mat-cell *matCellDef="let element"> {{element.version}} </td>
          </ng-container>
        
          <!-- State Column -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state"> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>
        
          <!-- Uptime Column -->
          <ng-container matColumnDef="uptime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by uptime"> Uptime </th>
            <td mat-cell *matCellDef="let element"> {{element.uptime}} </td>
          </ng-container>

           <!-- Owner Column -->
           <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by owner"> Currently reserved by </th>
            <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
          </ng-container>

          <!-- Reserved till Column -->
          <ng-container matColumnDef="reservedTill">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by reservedTill"> Reserved till </th>
            <td mat-cell *matCellDef="let element"> {{element.reservedTill | date : 'dd.MM. HH:mm'}} </td>
          </ng-container> 

           <!-- Functions Column -->
           <ng-container matColumnDef="functions">
            <th mat-header-cell *matHeaderCellDef> Functions </th>
            <td mat-cell *matCellDef="let element"> 
                <div *ngIf="element.owner == null; else isCurrentlyReserved" class="function-buttons">
                    <div class="function-item" (click)="openReservation(element)" matTooltip="Reserve this VM. Please first sync with actual owner of this VM!"><mat-icon>calendar_month</mat-icon></div>
                    
                    <div *ngIf="element.isLocked; else isUnlocked" class="function-item" (click)="changeLock(element)" matTooltip="Lock this VM. If it is locked, daily deployments are skipped."><mat-icon>lock</mat-icon></div>
                    <ng-template #isUnlocked>
                      <div class="function-item" (click)="changeLock(element)" matTooltip="Lock this VM. If it is locked, daily deployments are skipped."><mat-icon>lock_open</mat-icon></div>
                    </ng-template>
                    
                    <div class="function-item" (click)="openInformation(element)" matTooltip="Information about remote connection to this VM."><mat-icon>info</mat-icon></div>
                </div> 
                <ng-template #isCurrentlyReserved class="function-buttons">
                  Reserved
                </ng-template>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"  class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

