<div class="content" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8" >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Version Column -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by version"> Version </th>
            <td mat-cell *matCellDef="let element"> {{element.version}} </td>
          </ng-container>
        
          <!-- State Column -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state"> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>
        
          <!-- Uptime Column -->
          <ng-container matColumnDef="uptime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by uptime"> Uptime </th>
            <td mat-cell *matCellDef="let element"> {{element.uptime}} </td>
          </ng-container>

           <!-- Owner Column -->
           <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by owner"> Owner </th>
            <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
          </ng-container>

           <!-- Functions Column -->
           <ng-container matColumnDef="functions">
            <th mat-header-cell *matHeaderCellDef> Functions </th>
            <td mat-cell *matCellDef="let element"> 
                <div *ngIf="element.isLocked !=true; else isOcuppied" class="function-buttons">
                    <div class="function-item" (click)="openReservation(element)" ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit_calendar"></mat-icon></div>
                    <div class="function-item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="lock_open"></mat-icon></div>
                    <div class="function-item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon></div>
                </div> 
                <ng-template #isOcuppied class="function-buttons">
                  Reserved
                </ng-template>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"  class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>