<h2 mat-dialog-title>{{kojeName}} reservation</h2>

<mat-dialog-content class="mat-typography">
    <div class="content">   
        <p class="time-zone">{{selectedTimeZone.name}}</p> 
        <table>
            <tr>
            <th><mat-form-field>
                <mat-label>Start date</mat-label>
                <input matInput [min]="today" [matDatepicker]="startDatePicker" placeholder="Start date" [(ngModel)]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field></th>

            <th><mat-form-field>
                <mat-label>Start time</mat-label>
                <input matInput type="time" [(ngModel)]="starttime" [disabled]="allDay">
            </mat-form-field></th>
            </tr>

            <tr>
            <th><mat-form-field>
                <mat-label>End date</mat-label>
                <input matInput [min]="startDate" [matDatepicker]="endDatePicker" placeholder="End date" [(ngModel)]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field></th>
        
            <th><mat-form-field>
                <mat-label>End time</mat-label>
                <input matInput type="time" [(ngModel)]="endtime" [disabled]="allDay">     
            </mat-form-field></th>
            </tr>   
        </table>

            <div class="checkboxes">
                <div>
                    <input type="checkbox" id="allday" (click)="changeDisability()"> 
                    <label for="allday">Reserve for all day</label>
                </div>
                <div>    
                    <input type="checkbox" id="repeat" (click)="rollButtons()"> 
                    <label for="repeat">Repeat reservation</label>
                </div>
            </div> 

        <div [hidden]="!reservationRepeat">
            <div class="repeat"> Repeat every: </div>

            <div class="day-buttons">
                <button [ngClass]="{'day-button': true, 'active': days[1].value}" (click)="this.days[1].value = !this.days[1].value"> Mon </button>
                <button [ngClass]="{'day-button': true, 'active': days[2].value}" (click)="this.days[2].value = !this.days[2].value"> Tue </button>
                <button [ngClass]="{'day-button': true, 'active': days[3].value}" (click)="this.days[3].value = !this.days[3].value"> Wed </button>
                <button [ngClass]="{'day-button': true, 'active': days[4].value}" (click)="this.days[4].value = !this.days[4].value"> Thu </button>
                <button [ngClass]="{'day-button': true, 'active': days[5].value}" (click)="this.days[5].value = !this.days[5].value"> Fri </button>
                <button [ngClass]="{'day-button': true, 'active': days[6].value}" (click)="this.days[6].value = !this.days[6].value"> Sat </button>                
                <button [ngClass]="{'day-button': true, 'active': days[0].value}" (click)="this.days[0].value = !this.days[0].value"> Sun </button>
            </div>
        </div>

        <hr>
        <div *ngIf = "kojeReservations.length == 0; else elseBlock">
            <p class="no-reservations">No reservations</p>
        </div>
        
        <ng-template #elseBlock>
            <p class="reserved-by">Reserved by</p>
            
            <table mat-table [dataSource]="kojeReservations" class="mat-elevation-z8">

                <ng-container matColumnDef="owner">
                    <th mat-header-cell *matHeaderCellDef> Owner </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>
            
                <ng-container matColumnDef="start">
                    <th mat-header-cell *matHeaderCellDef> Start Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.startReservation | date : 'dd.MM.yyyy HH:mm' : selectedTimeZone.difference}} </td>
                </ng-container>
            

                <ng-container matColumnDef="end">
                    <th mat-header-cell *matHeaderCellDef> End Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.endReservation | date : 'dd.MM.yyyy HH:mm' : selectedTimeZone.difference}} </td>
                </ng-container>

                
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> 
                        <div *ngIf = "element.userName == 'Michalekova, Lucia'; else Block">
                            <div class="delete-button" (click)="deleteReservation(element.reservationId)"><mat-icon> clear </mat-icon></div>
                        </div>
                        <ng-template #Block>
                            <div class="delete-button"><mat-icon>email</mat-icon></div>
                        </ng-template>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-template>
    </div> 
</mat-dialog-content>

<div class="buttons">
    <button (click)="onCloseClick()">Close</button>
    <button class="primary-button" (click)="onSaveClick()">Save</button>
</div>
