<h2 mat-dialog-title>TO DO: koje title + Remarks</h2>

<div class="content">
    <p class="no-remarks">No remarks.</p>

    <form>
        <mat-form-field class="remark-input">
            <mat-label>Remark</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </form>

    <form>
        <mat-form-field class="version-input">
            <mat-label>Version</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </form>
</div>

<mat-dialog-actions class="buttons">
    <button>Delete</button>
    <button>Cancel</button>
    <button class="primary-button">Save</button>
</mat-dialog-actions>
