<h2 mat-dialog-title>{{kojeDetails.name}} remarks</h2>

<div class="content">

    <div *ngIf="(kojeDetails.remark != null && kojeDetails.remark != ''); else elseBlock">
        <p class="remarks">Remark: {{kojeDetails.remark}}</p>
    </div>

    <ng-template #elseBlock>
        <p class="no-remarks">No remarks.</p>
    </ng-template>
    
    <mat-form-field class="remark-input">
        <mat-label>Remark</mat-label>
        <input matInput [(ngModel)]="remarkInput">
    </mat-form-field>
    
    <mat-form-field class="version-input">
        <mat-label>Version</mat-label>
        <input matInput [(ngModel)]="versionInput">
    </mat-form-field>
    
</div>

<mat-dialog-actions class="buttons">

    <button (click)="onDeleteClick()">Delete</button>
    <button (click)="onCloseClick()">Close</button>
    <button class="primary-button" (click)="onSaveClick()" >Save</button>

</mat-dialog-actions>
