
/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


html,body{
    height: 100%;
    font-family: "siemens sans", "Open Sans", "Roboto", "Droid Sans", -apple-system, BlinkMacSystemFont, "Arial", "Calibri", sans-serif;
    background: lightgray; 
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

