<div class="content">
        <div class="box-wrapper">
            <div class="box-wrapper-item" routerLink="/myvms">
                <div class="icon-and-label">
                    <div class="icon"><mat-icon>desktop_windows</mat-icon><p>My virtual machines</p></div>
                </div>
                <div class="status-label">Reserved virtual machines: 0</div>
            </div>
            <div class="box-wrapper-item" routerLink="/reservationvms">
                <div class="icon-and-label">
                    <div class="icon"><mat-icon>calendar_month</mat-icon><p>Reserve Virtual machines</p></div>
                </div>
                <div class="status-label">Free virtual machines: 34</div>
            </div>
            <div class="box-wrapper-item" routerLink="/reservationkoje">
                <div class="icon-and-label">
                    <div class="icon"><mat-icon>calendar_month</mat-icon><p>Reserve koje</p></div>
                </div>
                <div class="status-label">Free kojes: 0</div>
            </div>
        </div>
</div>